.top-form {
    -fx-background-color: #fff;
    -fx-border-color: #000;
    -fx-border-width: .4px .4px .2px .4px;
}

.semi-top-form {
    -fx-background-color: #eff8ff; /* Light blue background */
    -fx-border-color: #000;
    -fx-border-width: .2px .4px .8px .4px;
}

.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.close:hover {
    -fx-background-color: #ff3547;
}

.minimize {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}

.minimize:hover {
    -fx-background-color: #ddd;
}

.nav-form {
    -fx-background-color: linear-gradient(to bottom right, #6e88c5, #4c6fb9); /* Blue gradient */
}

.nav-btn {
    -fx-background-color: transparent;
    -fx-cursor: hand;
    -fx-font-family: "Arial";
    -fx-font-size: 14px;
    -fx-text-fill: #e2e2fd;
    -fx-alignment: CENTER-LEFT;
}

.logout {
    -fx-background-color: #8a96a4;
    -fx-background-radius: 10px;
    -fx-cursor: hand;
}

.logout:hover {
    -fx-background-color: #8fb5fa; /* Light blue hover color */
}

.shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.5), 6, 0, 0, 0);
}

.white-bg {
    -fx-background-color: #fff;
    -fx-background-radius: 8px;
}

.card {
    -fx-background-color: linear-gradient(to right, #2b303c, #525968);
    -fx-background-radius: 5px;
}

.table-view {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #dbdce5); /* Blue gradient */
    -fx-border-radius: 8px;
    -fx-padding: 0px;
}

.table-view .table-column {
    -fx-alignment: CENTER;
}

.table-view .column-header-background {
    -fx-background-color: #8c9bc7; /* Darker blue gradient */
    -fx-background-insets: 0 0 0 0;
    -f-background-radius: 8px 8px 0px 0px;
}

.table-view .column-header,
.filter {
    -fx-background-color: transparent;
    -fx-size: 40px;
}

.table-view .column-header .label {
    -fx-text-fill: #fff;
    -fx-font-family: "Arial";
}

.textfield {
    -fx-background-color: linear-gradient(to bottom, #eff8ff, #eee); /* Light blue background */
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #81a2ee); /* Blue border gradient */
    -fx-border-width: .8px;
    -fx-font-family: "Tahoma";
    -fx-border-radius: 4px;
}

.textfield:focused {
    -fx-border-width: 1.8px;
    -fx-background-color: #fff;
}

.search {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #dbe7e2); /* Blue border gradient */
    -fx-border-radius: 5px;
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-border-width: 1px;
    -fx-padding: 0px 0px 0px 28px;
}

.search:focused {
    -fx-border-width: 2px;
}

.import-btn {
    -fx-background-color: #ddd;
    -fx-text-fill: red;
    -fx-cursor: hand;
}

.add-btn {
    -fx-background-color: #4460a2;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}

.add-btn:hover {
    -fx-background-color: #3357a4;
}

.update-btn {
    -fx-background-color: #5f8ffd;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}

.update-btn:hover {
    -fx-background-color: #b3b4bd;
}

.delete-btn {
    -fx-background-color: #c51d1d;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}

.delete-btn:hover {
    -fx-background-color: #ae1d46;
}

.clear-btn {
    -fx-background-color: #26272a;
    -fx-background-radius: 8px;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-cursor: hand;
}

.clear-btn:hover {
    -fx-background-color: #2b2b38;
}

.label-info {
    -fx-background-color: transparent;
    -fx-border-color: linear-gradient(to bottom right, #272b3f, #b4b5b9);
    -fx-border-radius: 4px;
    -fx-padding: 0px 0px 0px 8px;
}
