.action-button {
    -fx-background-color: #7ec4e3; /* Green */
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.action-button:hover {
    -fx-background-color: #5f8ffd; /* Darker green */
}

.action-button-delete {
    -fx-background-color: #f44336; /* Red */
    -fx-text-fill: white;
    -fx-font-size: 12px;
}

.action-button-delete:hover {
    -fx-background-color: #d32f2f; /* Darker red */
}
