.root {
    -fx-background-color: #F5F6FA;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

.label {
    -fx-text-fill: #333;
    -fx-font-size: 12px;
}

.date-picker, .text-area, .text-field, .combo-box {
    -fx-font-size: 12px;
}

.button {
    -fx-background-color: #1976D2;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-cursor: hand;
    -fx-padding: 8px 15px;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.button:hover {
    -fx-background-color: #1565C0;
}

.text-area {
    -fx-border-color: #BDBDBD;
    -fx-border-radius: 4px;
    -fx-background-radius: 4px;
}

.combo-box {
    -fx-background-color: #FFFFFF;
    -fx-border-color: #BDBDBD;
    -fx-background-radius: 4px;
    -fx-border-radius: 4px;
}

.combo-box .list-cell {
    -fx-padding: 4px 10px;
}

.date-picker .text-field {
    -fx-background-color: #FFFFFF;
    -fx-background-insets: 0, 0, 1, 0;
    -fx-background-radius: 3px;
    -fx-border-radius: 3px;
    -fx-border-insets: 0, 0, 1, 0;
    -fx-border-color: #BDBDBD;
}

.image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}
.error-label {
    -fx-text-fill: red;
    -fx-font-size: 12px;  /* Larger font size for better readability */
    -fx-font-family: "Arial"; /* Cleaner, more professional font */
    -fx-padding: 5px;  /* Adds spacing around the text */
    -fx-font-weight: bold; /* Makes the text bold */
}

.title-label {
    -fx-font-size: 30px;  /* Increased font size */
    -fx-font-family: "Arial"; /* Specifying the font family */
    -fx-font-weight: bold; /* Making the font bold */
    -fx-text-fill: #301bef; /* Ensuring the color is the specified blue */
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 15, 0.0, 0, 1); /* Optional: Adding a subtle shadow for depth */
}